:export {
  background: #282c33;
  primary: #c778dd;
  gray: #abb2bf;
  white: #ffffff;
  desktop-width: 120rem;
  small: 1rem;
  paragraph: 1.6rem;
  label: 2.4rem;
  display: 3.2rem;
  normal: 400;
  medium: 500;
  bold: 700;
  semi-bold: 600;
  spacing-xl: 16rem;
  spacing-l: 4rem;
  spacing-m: 2rem;
  spacing-s: 1rem;
  spacing-xs: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
  width: 120rem;
  height: auto;
  margin: 0 auto 0;
}
.nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: no-wrap;
}
.nav .nav-list .nav-list-item-link::before {
  content: "#";
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #c778dd;
  margin-right: 1px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  width: 3.2rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.social-links .social-links-vertical-line {
  width: 1px;
  height: 19.2rem;
  background-color: #abb2bf;
  margin: 0 auto 0;
}
.social-links .social-links-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}
.social-links .social-links-list-icon {
  width: 3.2rem;
  height: 3.2rem;
  transition: filter 0.3s ease;
}
.social-links .social-links-list-icon:hover {
  stroke: #c778dd;
  filter: brightness(10);
}

.hero {
  width: 120rem;
  height: auto;
  margin: 16rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
}
.hero .hero-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1;
}
.hero .hero-summary .hero-summary-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.hero .hero-summary .hero-summary-text-details .hero-summary-text-details-headline {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
}
.hero .hero-summary .hero-summary-text-details .hero-summary-text-details-headline span {
  color: #c778dd;
}
.hero .hero-summary .hero-summary-text-details .hero-summary-text-details-byline {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}
.hero .hero-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.hero .hero-img-box .hero-img-box-img {
  align-self: stretch;
}
.hero .hero-img-box .hero-img-box-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: no-wrap;
  align-self: stretch;
}
.hero .hero-img-box .hero-img-box-text-container .hero-img-box-text-container-square {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffffff;
}
.hero .hero-img-box .hero-img-box-text-container .hero-img-box-text-container-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: #ffffff;
}

.projects .projects-project-cards {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
}
.projects .projects-project-cards .projects-project-card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  border: 1px solid gray;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-img-box {
  align-self: stretch;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-tech-stack {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  align-self: stretch;
  padding: 0.8rem;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-tech-stack .projects-project-card-tech-stack-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-tech-stack .projects-project-card-tech-stack-list .projects-project-card-tech-stack-list-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-details {
  align-self: stretch;
  padding: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-details .projects-project-card-project-name {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #ffffff;
}
.projects .projects-project-cards .projects-project-card .projects-project-card-details .projects-project-card-project-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
  flex: 1;
  margin-bottom: 1rem;
}

.skills .skills-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
  align-self: stretch;
}
.skills .skills-content .skills-content-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  flex: 0 1 34%;
}
.skills .skills-content .skills-content-img-container .skills-content-img-container-img {
  align-self: stretch;
}
.skills .skills-content .skills-content-skill-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1;
  align-content: flex-start;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  flex-wrap: wrap;
  flex: 0 1 30%;
  border: 1px solid #abb2bf;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card .skills-content-skill-card-heading-container {
  padding: 0.8rem;
  border-bottom: 1px solid #abb2bf;
  align-self: stretch;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card .skills-content-skill-card-heading-container .skills-content-skill-card-heading-container-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card .skills-content-skill-card-details {
  padding: 0.8rem;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card .skills-content-skill-card-details .skills-content-skill-card-details-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.skills .skills-content .skills-content-skill-cards .skills-content-skill-card .skills-content-skill-card-details .skills-content-skill-card-details-list .skills-content-skill-card-details-list-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}

.about-me .about-me-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
  align-self: stretch;
}
.about-me .about-me-content .about-me-content-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1;
}
.about-me .about-me-content .about-me-content-text-details .about-me-content-text-details-description {
  align-self: stretch;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}
.about-me .about-me-content .about-me-content-img-box .about-me-content-img-box-img {
  align-self: stretch;
  animation-name: animate;
  animation-timing-function: ease;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animate {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

.contacts .contacts-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: no-wrap;
}
.contacts .contacts-details .contacts-details-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}
.contacts .contacts-details .contacts-details-text-container .contacts-details-text-container-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: #abb2bf;
}
.contacts .contacts-details .contacts-details-contacts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  border: 1px solid white;
  padding: 2rem;
}
.contacts .contacts-details .contacts-details-contacts-box-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  color: #ffffff;
}
.contacts .contacts-details .contacts-details-contacts-box-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.contacts .contacts-details .contacts-details-contacts-box-contacts-list .contacts-details-contacts-box-contacts-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: no-wrap;
}
.contacts .contacts-details .contacts-details-contacts-box-contacts-list .contacts-details-contacts-box-contacts-list-item .contacts-details-contacts-box-contacts-list-item-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.horizontal-rule {
  width: "100%";
  height: "4px";
  background-color: #ffffff;
  margin-top: 16rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 120rem;
  height: auto;
  margin: 4rem auto 4rem;
}
.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: no-wrap;
}
.footer .footer-top .footer-top-sign-off {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
}
.footer .footer-top .footer-top-sign-off .footer-top-sign-off-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: no-wrap;
}
.footer .footer-top .footer-top-sign-off .footer-top-sign-off-name .footer-top-sign-off-name-profile {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}
.footer .footer-top .footer-top-sign-off .footer-top-sign-off-designation {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}
.footer .footer-top .footer-top-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer .footer-top .footer-top-media .footer-top-media-heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #ffffff;
}
.footer .footer-top .footer-top-media .footer-top-media-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: no-wrap;
}
.footer .footer-top .footer-top-media .footer-top-media-icons-container .footer-top-media-icons-container-icon {
  width: 3.2rem;
  height: 3.2rem;
}
.footer .footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}
.footer .footer-bottom .footer-bottom-copyright {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #abb2bf;
}

/*# sourceMappingURL=style.css.map */
