@use 'mixins';
@use 'theme' as *;

// header
.nav {
  @include mixins.flex-row($gap: $spacing-l);
  @include mixins.dimensions($width: $desktop-width, $height: auto);
  @include mixins.center;

  .nav-list {
    @include mixins.flex-row($gap: $spacing-m);

    .nav-link::before {
      content: '#';
      @include mixins.typography(
        $font-size: $paragraph,
        $font-weight: $normal,
        $color: $primary
      );
      margin-right: 1px;
    }
  }
}

// social-links
.social-links {
  @include mixins.flex-column;
  @include mixins.dimensions($width: 3.2rem, $height: auto);
  @include mixins.position-absolute;
  .vertical-line {
    @include mixins.dimensions(
      $width: 1px,
      $height: 19.2rem,
      $background-color: $gray
    );
    @include mixins.center;
  }

  .social-links-list {
    @include mixins.flex-column;
  }

  .social-links-icon {
    @include mixins.dimensions($width: 3.2rem, $height: 3.2rem);
    transition: filter 0.3s ease;
  }

  .social-links-icon:hover {
    stroke: $primary;
    filter: brightness(10);
  }
}

// hero-section
.hero {
  @include mixins.dimensions($width: $desktop-width, $height: auto);
  @include mixins.center($margin-top: $spacing-xl);
  @include mixins.flex-row($gap: $spacing-l);

  .hero-summary {
    @include mixins.flex-column($gap: $spacing-m);
    flex: 1;

    .hero-summary-text-details {
      @include mixins.flex-column($gap: $spacing-s);

      .hero-summary-headline {
        @include mixins.typography(
          $font-size: $display,
          $font-weight: $semi-bold,
          $color: $white
        );

        span {
          color: $primary;
        }
      }

      .hero-summary-byline {
        @include mixins.typography(
          $font-size: $paragraph,
          $font-weight: $normal,
          $color: $gray
        );
      }
    }
  }

  .hero-img-box {
    @include mixins.flex-column($align-items: center, $gap: $spacing-m);

    .hero-img {
      align-self: stretch;
    }

    .hero-text-container {
      @include mixins.flex-row($justify-content: center, $gap: $spacing-s);
      align-self: stretch;

      .square {
        @include mixins.dimensions($width: 1.6rem, $height: 1.6rem);
        background-color: $white;
      }

      .hero-text {
        @include mixins.typography(
          $font-size: $paragraph,
          $font-weight: $medium,
          $color: $white
        );
      }
    }
  }
}

// projects section
.projects {
  .project-cards {
    align-self: stretch;
    @include mixins.flex-row($gap: $spacing-l);

    .project-card {
      align-self: stretch;
      @include mixins.flex-column($gap: $spacing-m);
      border: 1px solid gray;

      .project-img-box {
        align-self: stretch;
      }

      .tech-stack {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        align-self: stretch;
        padding: 0.8rem;

        .tech-stack-list {
          @include mixins.flex-row(
            $justify-content: flex-start,
            $gap: $spacing-s,
            $flex-wrap: wrap
          );

          .tech-stack-item {
            @include mixins.typography(
              $font-size: $paragraph,
              $font-weight: $normal,
              $color: $gray
            );
          }
        }
      }

      .details {
        align-self: stretch;
        padding: 1.6rem;
        flex: 1;
        @include mixins.flex-column;

        .project-name {
          @include mixins.typography(
            $font-size: 2.4rem,
            $font-weight: $medium,
            $color: $white
          );
        }

        .project-description {
          @include mixins.typography(
            $font-size: 1.6rem,
            $font-weight: $normal,
            $color: $gray
          );
          flex: 1;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// skills section
.skills {
  .skills-content {
    @include mixins.flex-row($align-items: flex-start, $gap: $spacing-l);
    align-self: stretch;

    .skills-img-container {
      @include mixins.flex-column;
      flex: 0 1 34%;

      .skills-img {
        align-self: stretch;
      }
    }

    .skill-cards {
      @include mixins.flex-row(
        $align-items: flex-start,
        $justify-content: flex-end,
        $gap: $spacing-m,
        $flex-wrap: wrap
      );
      flex: 1;
      align-content: flex-start;

      .skill-card {
        @include mixins.flex-column($justify-content: flex-start);
        flex: 0 1 30%;
        border: 1px solid $gray;

        .skill-card-heading-container {
          padding: 0.8rem;
          border-bottom: 1px solid $gray;
          align-self: stretch;

          .skill-card-heading {
            @include mixins.typography(
              $font-size: 1.6rem,
              $font-weight: $semi-bold,
              $color: $white
            );
          }
        }

        .skill-card-details {
          padding: 0.8rem;

          .skill-card-list {
            @include mixins.flex-row(
              $justify-content: flex-start,
              $gap: $spacing-s,
              $flex-wrap: wrap
            );

            .skill-card-item {
              @include mixins.typography(
                $font-size: 1.6rem,
                $font-weight: $normal,
                $color: $gray
              );
            }
          }
        }
      }
    }
  }
}

// about-me section
.about-me {
  .about-me-content {
    @include mixins.flex-row($align-items: center, $gap: $spacing-l);
    align-self: stretch;

    .about-me-text-details {
      @include mixins.flex-column($gap: $spacing-m);
      flex: 1;

      .about-me-description {
        align-self: stretch;
        @include mixins.typography(
          $font-size: 1.6rem,
          $font-weight: $normal,
          $color: $gray
        );
      }
    }

    .about-me-img-box {
      .about-me-img {
        align-self: stretch;
        animation-name: animate;
        animation-timing-function: ease;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      @keyframes animate {
        0% {
          transform: translateY(-2rem);
        }
        100% {
          transform: translateY(2rem);
        }
      }
    }
  }
}

// contacts section
.contacts {
  .contact-details {
    @include mixins.flex-row($gap: $spacing-l);

    .contact-details-text-container {
      flex: 1;
      @include mixins.flex-column($align-items: stretch);

      .contact-details-description {
        @include mixins.typography(
          $font-size: $paragraph,
          $font-weight: $medium,
          $color: $gray
        );
      }
    }

    .contact-box {
      @include mixins.flex-column(
        $align-items: center,
        $justify-content: center,
        $gap: $spacing-m
      );
      border: 1px solid white;
      padding: 2rem;
    }

    .contact-text {
      @include mixins.typography(
        $font-size: $paragraph,
        $font-weight: $semi-bold,
        $color: $white
      );
    }

    .contact-list {
      @include mixins.flex-column(
        $align-items: stretch,
        $justify-content: center,
        $gap: $spacing-m
      );

      .contact-item {
        @include mixins.flex-row(
          $justify-content: flex-start,
          $gap: $spacing-s
        );

        .contact-icon {
          @include mixins.dimensions($width: 3.2rem, $height: 3.2rem);
        }
      }
    }
  }
}

// horizontal rule
.horizontal-rule {
  @include mixins.dimensions(
    $width: '100%',
    $height: '4px',
    $background-color: $white
  );
  margin-top: $spacing-xl;
}

// footer
.footer {
  @include mixins.flex-column($align-items: stretch, $gap: $spacing-l);
  @include mixins.dimensions($width: $desktop-width, $height: auto);
  @include mixins.center($margin-top: $spacing-l, $margin-bottom: $spacing-l);

  .footer-top {
    @include mixins.flex-row($gap: $spacing-m);

    .sign-off {
      @include mixins.flex-column($align-items: stretch, $gap: $spacing-s);
      flex: 1;

      .sign-off-name {
        @include mixins.flex-row(
          $justify-content: flex-start,
          $gap: $spacing-xs
        );

        .sign-off-name-profile {
          @include mixins.typography(
            $font-size: $paragraph,
            $font-weight: $normal,
            $color: $gray
          );
        }
      }

      .sign-off-designation {
        @include mixins.typography(
          $font-size: $paragraph,
          $font-weight: $normal,
          $color: $white
        );
      }
    }

    .media {
      @include mixins.flex-column($gap: $spacing-s);

      .media-heading {
        @include mixins.typography(
          $font-size: $label,
          $font-weight: $medium,
          $color: $white
        );
      }

      .media-icons-container {
        @include mixins.flex-row($justify-content: center, $gap: $spacing-xs);

        .media-icon {
          @include mixins.dimensions($width: 3.2rem, $height: 3.2rem);
        }
      }
    }
  }

  .footer-bottom {
    @include mixins.flex-column($align-items: center);

    .copyright {
      @include mixins.typography(
        $font-size: $paragraph,
        $font-weight: $normal,
        $color: $gray
      );
    }
  }
}
